.login {
  @include sq-dimen(100%);
  @include flex(center, center);
  align-self: center;

  .login-card {
    @include dimen(100%);
    max-width: 360px;
    margin-bottom: 50px;
  }

  .login-card-header {
    text-align: center;
    svg {
      font-size: 100px;
    }
  }

  .login-card-body {
    @include margin-y(25px 10px);
  }
}
